@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    letter-spacing: normal;
    word-spacing: normal;
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    color: black;   }

.main-header{
    margin-top: 0px;   }

.main-logo{
    margin-top: 0px;
    background-color: black;    }

.logo{
    font-size: xx-large;
    text-decoration: none;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    text-align-last: center;
    background-color: black;
    color: white;   }

.site-nav{
    display: inline;
}
.news-but-div{
    display: inline;
    list-style-type: none;  }
.news-but{
    text-decoration: none;  }
.project-but-div{
    display: inline;
    list-style-type: none;  }
.project-but{
    text-decoration: none;  }
.contacts-but-div{
    display: inline;
    list-style-type: none;  }
.contacts-but{
    text-decoration: none;  }
    
.news-logo{
    text-align: center;
    background-color: blue; }

article{
    text-indent: 5%;    }

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-resolution: 72dpi;
    width: 70%;
    height: auto;   }

#contacts{
    background-color: blue; }

.footer-content {
    display: flex;
    max-width: 100%;
    height: auto;
}

.name{
    display: inline-block;
    width: 50%;
}

.media{
    display: inline-block;
    width: 50%; }
.media li{
    list-style-type: none;
}
.media a{
    float: right;
}
.media img{
    width: 100px;
    height: auto;
}